<p>rxjs-index works!</p>
<p>https://www.learnrxjs.io/learn-rxjs/subjects/subject</p>

<button [routerLink]="['/rxjs/subject']" >Subject</button>
<button [routerLink]="['/rxjs/subjects/subject-behaviour']" >Subject Behaviour</button>
<button [routerLink]="['/rxjs/subjects/replay-subject']" >Replay Subject</button>
<button [routerLink]="['/rxjs/subjects/async-subject']" >Async Subject</button>

<iframe src="https://docs.google.com/spreadsheets/d/1YqM4Le-sfhotk03d-T8J-LYHzQ-Mzmt24OGkhLw8vdE/edit#gid=0" height="600px" width="100%"></iframe>