<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#one"><b>Rounding of number upto 2 decimal places</b></p>

    <div id="one" class="collapse shadow p-2">
            <p>- Math.round(num * 100) / 100</p>
            <p>- parseFloat("123.456").toFixed(2)</p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#two"><b>Converting git repo into in vs vode structure
        </b>
    </p>

    <div id="two" class="collapse shadow p-2">
    <p>Open any git repo in browser -> add <b>1s</b> at the end of 'github' before .com</p>
    <p>Example - https://github.com/raimanshu/html_css_projects -> https://github1s.com/raimanshu/html_css_projects</p>
</div>

</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#three"><b>Adding Jquery without installing it inside
            angular project </b></p>
    <div id="three" class="collapse shadow p-2">
        <p>Answered by GAURAV ROY</p>
         <p>https://stackoverflow.com/questions/43934727/how-to-use-jquery-plugin-with-angular-4</p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#four"><b>Uploading file after checking its type</b></p>
    <div id="four" class="collapse shadow p-2">
        <p><button>Working on this component</button></p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#five"><b>Add and edit functionality on same
            component</b>
    </p>
    <div id="five" class="collapse shadow p-2">
        <p><button>Working on this component</button></p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#six"><b>Creating dashed line using css</b></p>
    <div id="six" class="collapse shadow p-2">
        <label>For Horizontal line</label>
        <p>div{{ '{' }}
            background-image: linear-gradient(to right, black 30%, transparent 0%);
            background-size: 10px 3px;
            {{ '}' }}</p>
        <label>For Vertical line</label>
        <p>div{{ '{' }}
            background-image: linear-gradient(black 33%, transparent 0%);
            background-size: 3px 10px;
            {{ '}' }}</p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#seven"><b>Comparing forEach, for, reduce, map, filter
        </b>
    </p>
    <div id="seven" class="collapse shadow p-2">
        <label>Performance speed : <span>forEach < reduce < map < filter < for </span></label>
        <p>Ref : https://www.measurethat.net/Benchmarks/Show/2235/0/foreach-vs-reduce-vs-map-vs-filter-vs-for</p>

       
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#eight"><b>Preview image/video before uploading </b></p>
    <div id="eight" class="collapse shadow p-2">
        <!-- <label>Performance speed : <span>forEach < reduce < map < filter < for </span></label>
        <p>Ref : https://www.measurethat.net/Benchmarks/Show/2235/0/foreach-vs-reduce-vs-map-vs-filter-vs-for</p> -->
        <p><button [routerLink]="['/daily-updates/preview_image_video']" >Working on this component</button></p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#nine"><b>Close notification without using jquery</b></p>
    <div id="nine" class="collapse shadow p-2">
        <!-- <label>Performance speed : <span>forEach < reduce < map < filter < for </span></label>
        <p>Ref : https://www.measurethat.net/Benchmarks/Show/2235/0/foreach-vs-reduce-vs-map-vs-filter-vs-for</p> -->
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#ten"><b>External Javascript file communication with
            angular </b></p>
    <div id="ten" class="collapse shadow p-2">
        <p><button [routerLink]="['/daily-updates/external_js_file_comm']" >External Javascript file communication with angular</button></p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#eleven"><b>Passing object from html to ts without
            calling a
            function + Using single formControl</b></p>
    <div id="eleven" class="collapse shadow p-2">
            <div class="form-group">
           <select [formControl]="singleComponent" (change)="getSelectValue()" class="form-control">
               <option [ngValue]="option" *ngFor="let option of optionList"  >{{option.value}}</option>
           </select>
        </div>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#twelve"><b>Removing focus on button after clicking</b>
    </p>
    <div id="twelve" class="collapse shadow p-2">
        <p>Working on it................</p>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#thirteen"><b>Detect top and bottom of scrolling in a
            page/div</b></p>
    <div id="thirteen" class="collapse shadow p-2">
        <button  [routerLink]="['/daily-updates/detect_scrolling']">Detect top and bottom of scrolling in a page/div</button>
    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#fourteen"><b>Create an array for anagrams</b></p>
    <div id="fourteen" class="collapse shadow p-2">

    </div>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#fifteen"><b>Create an array for anagrams</b></p>
    <div id="fifteen" class="collapse shadow p-2">
        <p>Ref : https://www.measurethat.net/Benchmarks/Show/2235/0/foreach-vs-reduce-vs-map-vs-filter-vs-for</p>
    </div>
</div>

<div class="outer_div">
    <!-- <button data-toggle="collapse" data-target="#16">Collapsible</button> -->
    <p class="text-center" data-toggle="collapse" data-target="#sixteen"><b>Using EventEmitter from child to parent
            component</b></p>

    <div id="sixteen" class="collapse shadow p-2">
        <p>Ref : https://netbasal.com/event-emitters-in-angular-13e84ee8d28c</p>
    </div>
</div>