<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#1"><b>Rounding of number upto 2 decimal places</b></p>

    <pre id="1" class="collapse">
    <p>- Math.round(num * 100) / 100</p>
    <p>- parseFloat("123.456").toFixed(2)</p>
</pre>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#2"><b>Converting git repo into in vs vode structure </b></p>

    <pre id="2" class="collapse">
    <p>Open any git repo in browser -> add <b>1s</b> at the end of 'github' before .com</p>
    <p>Example - https://github.com/raimanshu/html_css_projects -> https://github1s.com/raimanshu/html_css_projects</p>
</pre>

</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#3"><b>Adding Jquery without installing it inside
            angular project </b></p>
    <pre id="3" class="collapse">
        <p>Answered by GAURAV ROY</p>
         <p>https://stackoverflow.com/questions/43934727/how-to-use-jquery-plugin-with-angular-4</p>
    </pre>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#4"><b>Uploading file after checking its type</b></p>
    <pre id="4" class="collapse">
        <p><button>Working on this component</button></p>
    </pre>
</div>

<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#5"><b>Add and edit functionality on same component</b></p>
    <pre id="5" class="collapse">
        <p><button>Working on this component</button></p>
    </pre>
</div>