<h3 style="text-align: center;">Angular Concepts</h3>

<label>Intro :</label>
<p>This project is based on implementations of various angular projects. This project also covers the basic issues
    faced by angular developers with step by step description.</p>
<p>Every concepts are included into different modules.</p>

<label>Implemntations :</label>

<!-- <p>Data Binding - string interpolation</p> -->
<!-- <button (click)="stringInterpolation()">str_int</button> -->
<button [routerLink]="['/data-binding/string-interpolation']">string_interpolation</button><br>
<button [routerLink]="['/data-binding/event-binding']">event_binding</button><br>
<button [routerLink]="['/data-binding/property-binding']">property_binding</button><br>

<button [routerLink]="['/data-binding/class-binding']" >class_binding</button><br>
<button>style-binding</button><br>
<button>attribute-binding</button><br>
<button>interceptors</button><br>
<button [routerLink]="['/subject-behaviour']">subject_behaviour</button><br>
<button>*ngIf_directive</button><br>
<button>*ngFor_directive</button><br>
<button>*ngSwitch_directive</button><br>
<button [routerLink]="['/component-interaction']">Component Interaction</button><br>
<button [routerLink]="['/error-list']">Errors List</button><br>
<button [routerLink]="['/angular-forms']">Angular Forms</button><br>

<button [routerLink]="['/angular-forms/reactive-forms']" >Reactive Forms</button><br>
<button [routerLink]=" ['/angular-forms/template-driven-forms']" >Template Driven Forms</button><br>
<button [routerLink]=" ['/life-cycle-hooks']" >Life Cycle Hooks</button><br>
<button [routerLink]=" ['/daily-updates']" >Daily Learning Updates</button><br>
<button [routerLink]=" ['/angular-cli']" >Angular CLI</button><br>

