<div>
    <h3 style="text-align: center;">Angular Concepts</h3>

    Projects - Create a reactive form with smaller components with parent children components and sibling relationship +
    validations should be put on components (reference swipeby) <br>
    implement caching data in angular <br>
    create extension in angular <br>
    create webapp in angular <br>


    <label>Intro :</label>
    <p>This project is based on implementations of various angular projects. This project also covers the basic issues
        faced by angular developers with step by step description.</p>
    <p>Every concepts are included into different modules.</p>
    - vs code basic commands
    -

    <label>Implemntations :</label>
</div>


<!-- <p>Data Binding - string interpolation</p> -->
<!-- <button (click)="stringInterpolation()">str_int</button> -->
<div class="btn-group d-inline">
    <button class="btn btn-primary" [routerLink]="['/data-binding/string-interpolation']">string_interpolation</button>
    <button class="btn btn-primary" [routerLink]="['/data-binding/event-binding']">event_binding</button>
    <button class="btn btn-primary" [routerLink]="['/data-binding/property-binding']">property_binding</button>
    <button class="btn btn-primary" [routerLink]="['/data-binding/class-binding']">class_binding</button>
    <button class="btn btn-primary" [routerLink]="['/style-binding']">style-binding</button>
    <button class="btn btn-primary">attribute-binding</button>
    <button class="btn btn-primary">interceptors</button>
    <button class="btn btn-primary" [routerLink]="['/subject-behaviour']">subject_behaviour</button>
    <button class="btn btn-primary">*ngIf_directive</button>
    <button class="btn btn-primary">*ngFor_directive</button>
    <button class="btn btn-primary">*ngSwitch_directive</button>
    <button class="btn btn-primary" [routerLink]="['/component-interaction']">Component Interaction</button>
    <button class="btn btn-primary" [routerLink]="['/error-list']">Errors List</button>
    <button class="btn btn-primary" [routerLink]="['/angular-forms']">Angular Forms</button>
    <button class="btn btn-primary" [routerLink]="['/angular-forms/reactive-forms']">Reactive Forms</button>
    <button class="btn btn-primary" [routerLink]=" ['/angular-forms/template-driven-forms']">Template Driven
        Forms</button>
    <button class="btn btn-primary" [routerLink]=" ['/life-cycle-hooks']">Angular Life Cycle Hooks</button>
    <button class="btn btn-primary" [routerLink]=" ['/daily-updates']">Daily Learning Updates</button>
    <button class="btn btn-primary" [routerLink]=" ['/angular-cli']">Angular CLI</button>
    <button class="btn btn-primary" [routerLink]=" ['/rxjs']">Rxjs</button>



    
</div>



<div class="text-center"><button class="btn btn-danger" [routerLink]=" ['/references']">References</button></div>