<h3 style="text-align: center;">Angular Concepts</h3>

<label>Intro :</label>
<p>This project is based on implementations of various angular projects. This project also covers the basic issues
    faced by angular developers with step by step description.</p>
<p>Every concepts are included into different modules.</p>

<label>Implemntations :</label>
<p>Data Binding - string interpolation</p>
<!-- <button (click)="stringInterpolation()">str_int</button> -->
<button [routerLink]="['/data-binding/string-interpolation']">str_int</button>