<h1 style="text-align: center;">String Interpolation</h1>

<h3>Intro :-</h3>

<h3>Points to remember :-</h3>

<h3>Implementation :-</h3>
1) Declare a variable in ts file <br>
declared_variable ; <br>
2) Assign a value to the declared variable in ts <br>
declared_variable = assign_a_value ; <br>
3) put the declared variable in html file <br>
<span>{{</span>declared_variable<span>}}</span> <br>

<h3>Example :-</h3>
{{variable_1}}<br>
-------------------------------<br>
{{variable_2}}<br>
-------------------------------<br>
{{variable_3}}<br>
-------------------------------<br>
{{variable_4}}<br>
-------------------------------<br>
{{variable_5}}<br>
-------------------------------<br>
{{variable_6}}<br>
-------------------------------<br>
{{variable_7}}<br>
