<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-side-nav></app-side-nav>

    </div>
    <div class="col-8" style="padding-left: 17%;">
      <app-header></app-header>
      <div style="padding: 0 20px;">
        <router-outlet></router-outlet>
        This is the main content
      </div>
    </div>
  </div>

</div> -->

<!-- <router-outlet></router-outlet> -->


<div class="wrapper">
  <!-- Sidebar  -->
  <app-side-nav></app-side-nav>
  <!-- Page Content  -->

  <div id="content">

    <app-header></app-header>
    <div class="p-2">
      <router-outlet></router-outlet>

    </div>

  </div>

</div>



<!-- <script type="text/javascript">
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
</script> -->