<div style="background-color: gainsboro;" class="container">
    <h1 class="mb-3 text-18">Reactive Form Password Validation</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="p-4">
                <h3 class="mb-3 text-18">On Submit Button Click</h3>
                <form [formGroup]="signup" (ngSubmit)="onSubmitForm()" >
                    <fieldset>
    
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" class="form-control form-control-rounded" type="password" formControlName="password" [ngClass]="{'is-invalid': sub && f.password.errors}" >
                            <div *ngIf="sub && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">
                                    Enter the Password
                                </div>
                                <div *ngIf="f.password.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input id="confirm_password" class="form-control form-control-rounded" type="password" formControlName="confirm_password" [ngClass]="{'is-invalid': sub && f.password.errors}" >
                            <div *ngIf="sub && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">
                                    Enter the confirm password
                                </div>
                                <div *ngIf="f.confirm_password.errors.mustMatch">Passwords not match</div>
                            </div>
                        </div>

    
                        </fieldset>

                    <button class="btn btn-primary btn-block btn-rounded mt-3">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4">
                <pre>{{signup.value | json}}</pre>
                <div class="form-group">
                    <p>The validation are implemented on the input field :</p>
                    <p>- password, must have 6 characters</p>
                    <p>- password, required</p>
                    <p>- confirm password, required</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: gainsboro;" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="p-4">
                <h3 class="mb-3 text-18">On Input Box Touched</h3>
                <form [formGroup]="signup2" (ngSubmit)="onSubmitForm2()" >
                    <fieldset>
    
                        <div class="form-group">
                            <label for="password2">Password</label>
                            <input id="password2" class="form-control form-control-rounded" type="password" formControlName="password2" [ngClass]="{'is-invalid': f2.password2.errors && (f2.password2.touched || f2.password2.dirty)}" >
                            <div *ngIf="f2.password2.errors && (f2.password2.touched || f2.password2.dirty)" class="invalid-feedback">
                                <div *ngIf="f2.password2.errors.required">
                                    Enter the Password
                                </div>
                                <div *ngIf="f2.password2.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm_password2">Confirm Password</label>
                            <input id="confirm_password2" class="form-control form-control-rounded" type="password" formControlName="confirm_password2" [ngClass]="{'is-invalid': f2.confirm_password2.errors && (f2.confirm_password2.touched || f2.confirm_password2.dirty)}" >
                            <div *ngIf="f2.confirm_password2.errors && (f2.confirm_password2.touched || f2.confirm_password2.dirty)" class="invalid-feedback">
                                <div *ngIf="f2.confirm_password2.errors.required">
                                    Enter the confirm password
                                </div>
                                <div *ngIf="f2.confirm_password2.errors.mustMatch">Passwords not match</div>
                            </div>
                        </div>

    
                        </fieldset>
                    <!-- <div class="form-group">
                        <label for="input_reset">Reset Form</label>
                        <input id="input_reset" class="btn btn-primary btn-block btn-rounded mt-3" type="reset" >
                    </div> -->

                    <button class="btn btn-primary btn-block btn-rounded mt-3">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4">
                <pre>{{signup.value | json}}</pre>
                <div class="form-group">
                    <p>The validation are implemented on the input field :</p>
                    <p>- password, must have 6 characters</p>
                    <p>- password, required</p>
                    <p>- confirm password, required</p>
                </div>
            </div>
        </div>
    </div>
</div>