<h1 style="text-align: center;">Class Binding</h1>

<h3>Intro :-</h3>

<h3>Reference :-</h3>
- Codevolution from youtube


<h3>Points to remember :-</h3>
- Difference betweeen HTML element and DOM property <br>



<h3>Implementation :-</h3>
<!-- 1) Declare a variable in ts file <br>
declared_variable ; <br>
2) Assign a value to the declared variable in ts <br>
declared_variable = assign_a_value ; <br>
3) put the declared variable in html file <br>
<span>{{</span>declared_variable<span>}}</span> <br> -->

<h3>Example :-</h3>
<pre> class='c1' '[class]'='c2'</pre>
<h4 class="c1" [class]='c2'></h4>><br>
-------------------------------<br>
