<h1 style="text-align: center;">Event Binding</h1>

<h3>Intro :-</h3>

<h3>Points to remember :-</h3>
- To transfer data from template<br>
- What is $event - special variable in angular to send data of that DOM event that was raised<br>
- We cannot use other variable like varable, text etc or $variable, $text etc in place of <b>$event</b>. We get "" inside the function.<br>

<h3>Implementation :-</h3>
1) create a function inside ts file <br>
{{'function_name() {}'}} <br>
2) put an event name inside small brackets in html file <br>
(event_name) <br>
3) Assing the function to event mentioned in html <br>
{{"(event_name)=\'function_name()\'"}} <br>
4) pass $event inside function_name as argument<br>
{{"(event_name)=\'function_name($event)\'"}} <br>
5) include this expression inside opening tag of html 

<h3>Example :-</h3>
{{"(drag)=\'function_name($event)\'"}} <br>
{{"(drop)=\'function_name($event)\'"}} <br>
{{"(dragover)=\'function_name($event)\'"}} <br>
{{"(blur)=\'function_name($event)\'"}} <br>
{{"(focus)=\'function_name($event)\'"}} <br>
{{"(scroll)=\'function_name($event)\'"}} <br>
{{"(submit)=\'function_name($event)\'"}} <br>
{{"(click)=\'function_name($event)\'"}} <br>
{{"(dbclick)=\'function_name($event)\'"}} <br>
{{"(cut)=\'function_name($event)\'"}} <br>
{{"(copy)=\'function_name($event)\'"}} <br>
{{"(paste)=\'function_name($event)\'"}} <br>
{{"(keyup)=\'function_name($event)\'"}} <br>
{{"(keypress)=\'function_name($event)\'"}} <br>
{{"(keydown)=\'function_name($event)\'"}} <br>
{{"(mouseup)=\'function_name($event)\'"}} <br>
{{"(mousedown)=\'function_name($event)\'"}} <br>
{{"(mouseenter)=\'function_name($event)\'"}} <br>
{{"(mouseleave)=\'function_name($event)\'"}} <br>

<h3>Example :-</h3>
<pre> show text on click of a button after going inside the function</pre>
<button class="btn btn-primary" (click)="showText($event)">inside function</button><br>
{{text}}<br>
-------------------------------<br>
<pre> show text on click of a button without going inside the function</pre>
<button class="btn btn-primary" (click)="text = 'This is shown on click inside function'">inside html</button><br>
{{text}}<br>
-------------------------------<br>
<pre> show text on click of a button without going inside the function</pre>
<button class="btn btn-primary" (click)="text = ''">clear variable data</button><br>
{{text}}<br>
-------------------------------<br>

