<h1 style="text-align: center;">Event Binding</h1>

<h3>Intro :-</h3>

<h3>Points to remember :-</h3>

<h3>Implementation :-</h3>
1) create a function inside ts file <br>
{{'function_name() {}'}} <br>
2) put an event name inside small brackets in html file <br>
(event_name) <br>
3) Assing the function to event mentioned in html <br>
{{"(event_name)=\'function_name()\'"}} <br>
4) pass $event inside function_name as argument<br>
{{"(event_name)=\'function_name($event)\'"}} <br>
5) include this expression inside opening tag of html 

<h3>Example :-</h3>
{{"(drag)=\'function_name($event)\'"}} <br>
{{"(drop)=\'function_name($event)\'"}} <br>
{{"(dragover)=\'function_name($event)\'"}} <br>
{{"(blur)=\'function_name($event)\'"}} <br>
{{"(focus)=\'function_name($event)\'"}} <br>
{{"(scroll)=\'function_name($event)\'"}} <br>
{{"(submit)=\'function_name($event)\'"}} <br>
{{"(click)=\'function_name($event)\'"}} <br>
{{"(dbclick)=\'function_name($event)\'"}} <br>
{{"(cut)=\'function_name($event)\'"}} <br>
{{"(copy)=\'function_name($event)\'"}} <br>
{{"(paste)=\'function_name($event)\'"}} <br>
{{"(keyup)=\'function_name($event)\'"}} <br>
{{"(keypress)=\'function_name($event)\'"}} <br>
{{"(keydown)=\'function_name($event)\'"}} <br>
{{"(mouseup)=\'function_name($event)\'"}} <br>
{{"(mousedown)=\'function_name($event)\'"}} <br>
{{"(mouseenter)=\'function_name($event)\'"}} <br>

