<h1 style="text-align: center;">Style Binding</h1>

<h3>Intro :-</h3>

<h3>Points to remember :-</h3>
- ways to implement css - Global css & Component-Scoped CSS
- modes of component/view encapsulation - None, Native & Emulated
- Shadow DOM basically allows group of DOM implementation to be hidden inside a single element (which is the basic idea of components) and encapsulate styles to the element.
- Deep css - Deep selector, >>>, /deep/, or the more official Shadow-Piercing descendant combinator. The deep selector originated as an effort by the Blink team. It allowed developers to style across shadow roots. It was ultimately deprecated as it failed to meet standardization, performance, and developer experience expectations. In order to give developers a temporary reprieve from these externally-driven breaking changes, we created <strong>::ng-deep</strong>  which achieves the same functionality.


<h3>Implementation :-</h3>
<!-- 1) {{'Using ngClass'}}
[ngClass]="condition?'class_1':'class_2'"
2) Using ngStyle
[ngStyle]="{'color':'red'}"
3) Host Binding - @HostBinding , :host, 
4) Host binding inline style
5) Using style tag
6) Using inline style attribute
7) External style sheet 
8) Using styleUrls decorator
9) ::ng-deep
10) ::slotted
11) [style.property_name]="ts_variable" -->



<h3>Example :-</h3>
